pipeline/ProcessFeedPipeline.json
{
	"name": "ProcessFeedPipeline",
	"properties": {
		"activities": [
			{
				"name": "CopyDynamicWithIsActive1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup_SourceConfig",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup_SourceConfig').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy_To_Staging",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Set variable1",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "Set variable2",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "Set variable3",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"wildcardFileName": {
											"value": "@item().Filename",
											"type": "Expression"
										},
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "upsert",
									"upsertSettings": {
										"useTempDB": true,
										"keys": [
											"empid"
										]
									},
									"sqlWriterUseTableLock": false,
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "empid",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "empid",
												"type": "Int32",
												"physicalType": "int"
											}
										},
										{
											"source": {
												"name": "empname",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "empname",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "gender",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "gender",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "country",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "country",
												"type": "String",
												"physicalType": "nvarchar"
											}
										}
									],
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DynamicCSVforFEED",
									"type": "DatasetReference",
									"parameters": {
										"Filename": {
											"value": "@variables('Filename')\n",
											"type": "Expression"
										},
										"Delimiter": {
											"value": "@item().Delimiter",
											"type": "Expression"
										},
										"Folder": {
											"value": "@item().FilePath",
											"type": "Expression"
										},
										"Directory": {
											"value": "@item().FilePath",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "StageTable",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "Update is after copy",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Copy_To_Staging",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[UpdateIsActiveAfterCopy]",
								"storedProcedureParameters": {
									"FeedConfigID": {
										"value": "",
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "LS_SCD_Type1_SQL_DB",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Lookup_SourceConfig21",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "SELECT \n    SourceConfigID,\n    FilePath,\n    Filename,\n    FileType,\n    Delimiter\nFROM \n    dbo.SourceConfig\nWHERE \n    FileType = 'CSV' \n    AND IsActive = 1;\n",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "SourceConfig_DS",
									"type": "DatasetReference"
								},
								"firstRowOnly": false
							}
						},
						{
							"name": "Set variable1",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "FilePath",
								"value": {
									"value": "@item().FilePath",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Set variable2",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "FeedType",
								"value": {
									"value": "@item().FileType",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Set variable3",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "Filename",
								"value": {
									"value": "@item().Filename",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "Lookup_SourceConfig",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT \n    SourceConfigID,\n    FilePath,\n    Filename,\n    FileType,\n    Delimiter\nFROM \n    dbo.SourceConfig\nWHERE \n    FileType = 'CSV' \n    AND IsActive = 1;\n",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SourceConfig_DS",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			}
		],
		"variables": {
			"Filename": {
				"type": "String"
			},
			"FeedDescription": {
				"type": "String"
			},
			"FilePath": {
				"type": "String"
			},
			"FeedType": {
				"type": "String"
			}
		},
		"annotations": []
	}
}