pipeline/ProcessFeedPipeline.json
{
	"name": "ProcessFeedPipeline",
	"properties": {
		"activities": [
			{
				"name": "CopyDynamicWithIsActive1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup_SourceConfig",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup_SourceConfig').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "Lookup_FeedConfig",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "SELECT FeedConfigID, SourceConfigID, FeedDescription, FolderPath, FolderName\nFROM dbo.FeedConfig\nWHERE IsActive = 1\n  AND SourceConfigID = @{item().SourceConfigID};\n\n",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "FeedConfig_DS",
									"type": "DatasetReference"
								},
								"firstRowOnly": false
							}
						},
						{
							"name": "Lookup_ColumnConfig",
							"type": "Lookup",
							"dependsOn": [
								{
									"activity": "Lookup_FeedConfig",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "SELECT      \n    '{\"type\": \"TabularTranslator\", \"mappings\": [ '      \n    + string_agg(CONVERT(nvarchar(max),      \n    '{\"source\": { \"path\": \"' + CC.SourceColumnName + '\" }, \"sink\": { \"name\": \"' + CC.TargetColumnName + '\" }}'),      \n    ','      \n    ) + ' ] } ' AS ColumnMapping      \nFROM dbo.ColumnConfig CC\nWHERE CC.IsActive = 1\nAND CC.SourceID = @{activity('Lookup_FeedConfig').output.value[0].SourceConfigID}\n",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "ColumnMapping",
									"type": "DatasetReference"
								},
								"firstRowOnly": false
							}
						},
						{
							"name": "lookup_monitor",
							"type": "Lookup",
							"dependsOn": [
								{
									"activity": "Lookup_ColumnConfig",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "Monitor_Config_Log",
									"type": "DatasetReference"
								},
								"firstRowOnly": false
							}
						},
						{
							"name": "CopyToStage",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Reset Pipeline as it is active",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "upsert",
									"upsertSettings": {
										"useTempDB": true,
										"keys": [
											"empid"
										]
									},
									"sqlWriterUseTableLock": false,
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DynamicCSVforFEED",
									"type": "DatasetReference",
									"parameters": {
										"Filename": "@activity('Lookup_FeedConfig').output.value[0].FeedDescription",
										"Folder": "@activity('Lookup_FeedConfig').output.value[0].FolderPath",
										"Directory": "@activity('Lookup_FeedConfig').output.value[0].FolderName"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "StageTable",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "Reset Pipeline as it is active",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "SourceId_SET",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[ResetPipelineMonitorStatus]",
								"storedProcedureParameters": {
									"RawStatus": {
										"value": null,
										"type": "String"
									},
									"SourceConfigID": {
										"type": "Int32"
									},
									"StageStatus": {
										"value": null,
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "LS_SCD_Type1_SQL_DB",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "SourceId_SET",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "lookup_monitor",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "SourceConfigID",
								"value": {
									"value": "@int(activity('Lookup_FeedConfig').output.value[0].SourceConfigID)",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Updatemonitorlog",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "SCD RAW",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[UpdatePipelineMonitorAndLoadDates]"
							},
							"linkedServiceName": {
								"referenceName": "LS_SCD_Type1_SQL_DB",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "SCD RAW",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "CopyToStage",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[SCD1_Update_EmployeeStaging]"
							},
							"linkedServiceName": {
								"referenceName": "LS_SCD_Type1_SQL_DB",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			},
			{
				"name": "Lookup_SourceConfig",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[GetActiveCSVSourceConfig_DynamicUpdate]",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SourceConfig_DS",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "UpdateALL",
				"type": "SqlServerStoredProcedure",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "CopyDynamicWithIsActive1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[UpdateIsActiveAfterCopy]"
				},
				"linkedServiceName": {
					"referenceName": "LS_SCD_Type1_SQL_DB",
					"type": "LinkedServiceReference"
				}
			}
		],
		"variables": {
			"Filename": {
				"type": "String"
			},
			"FeedDescription": {
				"type": "String"
			},
			"FilePath": {
				"type": "String"
			},
			"FeedType": {
				"type": "String"
			},
			"FeedConfigID": {
				"type": "Integer"
			},
			"FeedID_Variable": {
				"type": "Integer"
			},
			"FeedConfigIDMain": {
				"type": "String"
			},
			"SourceConfigID": {
				"type": "Integer"
			}
		},
		"annotations": []
	}
}