pipeline/SCD_Type2_SP.json
{
	"name": "SCD_Type2_SP",
	"properties": {
		"activities": [
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "empid",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "empid",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "empname",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "empname",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "gender",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "gender",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "country",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "country",
									"type": "String",
									"physicalType": "varchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "SCD2CSV",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "STAGE_SCD2_SP",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Copy data1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT * FROM dbo.EmployeeStaging;\n",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "STAGE_SCD2_SP",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Stored procedure1",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[UpdateAndInsertEmployeesSCD2]",
					"storedProcedureParameters": {
						"country": {
							"value": {
								"value": "@activity('Lookup1').output",
								"type": "Expression"
							},
							"type": "String"
						},
						"empid": {
							"value": {
								"value": "@activity('Lookup1').output",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"empname": {
							"value": {
								"value": "@activity('Lookup1').output",
								"type": "Expression"
							},
							"type": "String"
						},
						"gender": {
							"value": {
								"value": "@activity('Lookup1').output",
								"type": "Expression"
							},
							"type": "String"
						},
						"LoadDate": {
							"value": {
								"value": "@activity('Lookup1').output",
								"type": "Expression"
							},
							"type": "Datetimeoffset"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_SCD_Type1_SQL_DB",
					"type": "LinkedServiceReference"
				}
			}
		],
		"annotations": []
	}
}